*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: white;
    color: black;
    width: 100%;
    margin: auto;
}

.contenedor {
    height: 1200px;
    width: 900px;
}

.titulo {
    font-family: avelar light;
    color: #BADA55;
    background-color: #B58A69;
    font-family: Avelar light;
}

.direcciones {
    background-color: white;
    font-family: Averlar light;
    color: black;
    margin-top: 3%;
    margin-bottom: 1%;
    

}

.direcciones ul li a:hover{
    color: red;
 }
.direcciones ul{
    font-family: Avelar light;
    list-style: none;
    margin: 0;
    color: black;
    display: flex;

}

.direcciones li{
    background-color: white;
    color: black;
    display: inline;
    font-size: 18px;
    margin-right: 17.5%;
    
    
    
}
.direcciones li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.texto{
    font-family: Avelar light;
    font-size: 20px;
    color: black;
    background-color: #DEE5DE;

   
}

.texto picture img {
    margin-top: 15%;
    margin-right: 50%;

}

.texto header{
    margin-top: -300px;

}

.texto p{
    margin-left: 50%;
    text-align: justify;
    margin-top: 3%;

    
}

.texto header{
    margin-left: 50%;
}


.imagenes{
    background-color: #D7D7CB;

}
.imagenes header{
    font-family: Avelar light;
    font-size: 25px;
    
}

.pie {
    font-family: Avelar light;
    font-size: 14px;
    background-color: #5e5e4a;
    color: white;
}

@media screen and (max-width: 650px){
    ul{
       flex-direction: column;
    }